{% extends 'users/student/layout.html' %}
{% load humanize %}
{% block title %}
    All Topics
{% endblock title %}

{% block content %}
    <section class="row">
        <div class="col-lg-12 mt-4">
            <span class="lead mb-3">All Topic in Courses Taken By You</span>
            <div class="card shadow mt-2 mb-4">
            <div class="card-header py-3">
            </div>
            <div class="card-body">
               <table class="table table-striped">
                <thead>
                    <tr>
                    
                    <th scope="col">Title</th>
                    <th scope='col'>Course</th>
                     <th scope="col">Levels</th>
                    <th scope="col">Lecturer</th>
                    <th scope="col">Published</th>
                    <th scope="col">Manage</th>
                    </tr>
                </thead>
                <tbody>
                {% for topic in topics  %}
                    <tr>
                   
                    <td>{{topic.title}}</td>
                    <td>{{topic.course}}</td>
                    <td>{{topic.levels | capfirst}}</td>
                     <td>{{topic.instructor.first_name}}-{{topic.instructor.last_name}}</td>
                     <td>{{topic.created | naturaltime}}</td>
                     <td><a href="{% url 'courses:student_topic_single' pk=topic.id %}" class="btn btn-sm btn-info  ">Read more &rarr;</a></td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
            </div>
            </div>
            </div>
        </div>
    </section>
{% endblock content %}