    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-book"></i>
        </div>
        <div class="sidebar-brand-text mx-3">E-Learning </div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'users:student_dashboard' %}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
       Learning
      </div>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'courses:student_courses' %}" >
          <i style='font-size: 1.3em' class="fas text-light fa-book"></i>
          <span style='font-size: 1em'>Course</span>
        </a>
      </li>

       <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'courses:student_topics' %}" >
          <i style='font-size: 1.3em' class="fas text-light fa-file"></i>
          <span style='font-size: 1em'>Topics</span>
        </a>
      </li>

      
       <li class="nav-item">
        <a class="nav-link collapsed" href="{% url 'courses:student_assignment_all' %}" >
          <i style='font-size: 1.3em' class="fas text-light fa-archive"></i>
          <span style='font-size: 1em'>Assignments</span>
        </a>
      </li>


      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>