{% extends 'users/instructor/layout.html' %}
{% load humanize %}
{% block title %}
    All Courses
{% endblock title %}

{% block content %}
    <section class="row">
        <div class="col-lg-12 mt-4">
            <p class="lead">All Courses Taken/Added By You</p>
            <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">All Courses <span><a href="{% url 'courses:course_add' %}" class="btn float-right mb-3 btn-primary">&plus; Add Course</a></span></h6></h6>
            </div>
            <div class="card-body">
               <table class="table table-striped">
                <thead>
                    <tr>
                    <th scope="col">Course-Code</th>
                    <th scope="col">Course-Name</th>
                    <th scope="col">File</th>
                     <th scope="col">Level/Levels</th>
                    <th scope="col">Author</th>
                    <th scope="col">Date</th>
                    <th scope="col">Manage</th>
                    </tr>
                </thead>
                <tbody>
                {% for course in courses  %}
                    <tr>
                    <th scope="row">{{course.course_code}}</th>
                    <td>{{course.course_name}}</td>
                    <td>(<a href="{{course.file.url}}" class="">{{course.file}} <i class="fas fa-download"></i></a>)</td>
                    <td>{{course.level|capfirst}} / {{course.levels | capfirst}}</td>
                     <td>{{course.instructor.first_name}}-{{course.instructor.last_name}}</td>
                     <td>{{course.created | naturaltime}}</td>
                     <td> <a href="{% url 'courses:course_view' pk=course.pk %}"><i class="fas fa-eye text-info"></i></a> &emsp; <i class="fas fa-trash text-danger"></i></td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
            </div>
            </div>
            </div>
        </div>
    </section>
{% endblock content %}