{% extends 'users/student/layout.html' %}
{% load humanize %}
{% block title %}
    All Courses
{% endblock title %}

{% block content %}
    <section class="row">
        <div class="col-lg-12 mt-4">
            <span class="lead">All Courses Taken By You</span> 
            <span class='lead text-danger float-right'>NB: Courses/Topics/Materials Shown are regulated Based on your CGPA</span>
            <div class="card shadow mb-4 mt-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">All Courses </h6>
            </div>
            <div class="card-body">
               <table class="table table-striped">
                <thead>
                    <tr>
                    <th scope="col">Course-Code</th>
                    <th scope="col">Course-Name</th>
                    <th scope="col">File</th>
                    <th scope="col">Lecturer-In Charge</th>
                    <th scope="col">Published</th>
                    <th scope="col">Manage</th>
                    </tr>
                </thead>
                <tbody>
                {% for course in courses  %}
                    <tr>
                    <th scope="row">{{course.course_code}}</th>
                    <td>{{course.course_name}}</td>
                    <td>(<a href="{{course.file.url}}" class="">{{course.file}} <i class="fas fa-download"></i></a>)</td>
                     <td>{{course.instructor.first_name}}-{{course.instructor.last_name}}</td>
                     <td>{{course.created | naturaltime}}</td>
                     <td> <a href="{% url 'courses:student_course_single' pk=course.pk %}" class='btn btn-sm btn-info'>Read more &rarr;</a> </td>
                    </tr>
                {% endfor %}
                </tbody>
                </table>
            </div>
            </div>
            </div>
        </div>
    </section>
{% endblock content %}