{% extends 'users/student/layout.html' %}

{% block title %}
    {{course.course_name}}
{% endblock title %}

{% block content %}
 <p class="lead"> Dashboard / Course / {{course.course_name}}</p>
    <section class="row">
   
        <div class="col-lg-6  mt-5 p-4 mb-3 shadow">
        <input type="text" value='{{course.course_code}}' disabled class='form-control form-control-user mb-2'>
        <input type="text" value='{{course.course_name}}' disabled class='form-control form-control-user mb-2'>
        <textarea name="" id="" cols="5" disabled class='form-control mb-2' rows="4">{{course.description}}</textarea>
        <a href="{{course.file.url}}" class="lead mb-2"> Download Course &darr;</a> <br><br>
        </div>

        <div class="col-lg-6  mt-5 p-4 mb-3 shadow">
        <iframe width="500" height="315" src="https://www.youtube-nocookie.com/embed/ctAVC2JwEwI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        </div>
    </section>
{% endblock content %}