{% extends 'users/student/layout.html' %}
{% load humanize %}
{% block title %}
    All Assignments
{% endblock title %}

{% block content %}
    <section class="row">
        <div class="col-lg-12 mt-4">
            <span class="lead mb-3">All Assignments</span>
            <div class="card shadow mt-2 mb-4">
            <div class="card-header py-3">
            </div>
            <div class="card-body">
            {% if assignments %}
               <table class="table table-striped">
                <thead>
                    <tr>
                    
                    
                    <th scope='col'>Course</th>
                    <th scope="col">Level</th>
                     <th scope="col">Created</th>
                    <th scope="col">Manage</th>
                    </tr>
                </thead>
                <tbody>
                {% for ass in assignments  %}
                    <tr>
                   
                    <td>{{ass.course}}</td>
                    <td>{{ass.level}}</td>
                    <td>{{ass.created | capfirst}}</td>
                     
                     <td> <a href="{% url 'courses:student_answer' pk=ass.pk %}" class='btn btn-info'>Answer &rarr;</a> </td>
                     </tr>
                {% endfor %}
                </tbody>
                </table>
            {% else %}
                <p class="display-4 ext-center">There is currently Zero assigment here</p>
            {% endif %}
            </div>
            </div>
            </div>
        </div>
    </section>
{% endblock content %}